In [27]:
import pandas as pd
import altair as alt

In [20]:
temperatura = pd.read_csv('temperatureETSAB2023_clean.csv')
temp_global_campsud = temperatura['Temperatura Campus Sud']
temperatura = temperatura.drop(columns=['Temperatura Campus Sud'])
co2 = pd.read_csv('co2ETSAB2023_clean.csv')
humitat = pd.read_csv('humidityETSAB2023_clean.csv')

In [13]:
columns = humitat.columns

Index(['Date', 'Time', 'A-11[DS A]', 'A-12[DS A]', 'A-13[DS A]', 'A-14[DS A]',
       'A-21[DS A]', 'A-22[DS A]', 'A-23[DS A]', 'A-24[DS A]', 'A-31[DS A]',
       'A-32[DS A]', 'A-33[DS A]', 'A-34[DS A]', 'A-35[DS A]', 'A-36[DS A]',
       'A-41[DS A]', 'A-42[DS A]', 'A-43[DS A]', 'A-44[DS A]', 'A-51[DS A]',
       'A-52[DS A]', 'A-53[DS A]', 'A-54[DS A]', 'A-55[DS A]', 'A-56[DS A]',
       'A-61[DS A]', 'A-62[DS A]', 'A-BGraus[DS A]', 'A-BPFC1[DS A]',
       'A-BPFC2[DS A]', 'A-CI[DS A]', 'A-S.1[DS A]', 'A-S.2[DS A]',
       'A-S.3[DS A]', 'DA-230[DS A]', 'DA-233[DS A]', 'DA-321[DS A]',
       'DA-420[DS A]', 'DA-521[DS A]', 'DA-614[DS A]', 'DA-754[DS A]',
       'DA-761[DS A]', 'DA-770[DS A]', 'DA-770 (antic)[DS A]',
       'Espai Beta[DS A]', 'GA-104[DS A]', 'GA-117[DS A]', 'GA-BCsg[DS A]',
       'Lab. Impressió[DS A]', 'LA-SMOD[DS A]', 'Manteniment 01[DS A]',
       'Sala d'estudi[DS A]', 'Bib. P00[DS B]', 'EC-MAQ[DS C]', 'EC-SZ[DS C]'],
      dtype='object')

In [29]:
humitat.head()

,Date,Time,A-11[DS A],A-12[DS A],A-13[DS A],A-14[DS A],A-21[DS A],A-22[DS A],A-23[DS A],A-24[DS A],...,GA-104[DS A],GA-117[DS A],GA-BCsg[DS A],Lab. Impressió[DS A],LA-SMOD[DS A],Manteniment 01[DS A],Sala d'estudi[DS A],Bib. P00[DS B],EC-MAQ[DS C],EC-SZ[DS C]
0,2023-01-01,00:00:00,55.0,55.0,53.0,53.0,53.0,53.0,53.0,53.0,...,51.0,52.0,50.5,53.0,58.5,51.0,57.0,49.0,53.0,54.0
1,2023-01-01,01:00:00,55.0,55.0,53.5,53.0,53.0,54.0,53.0,53.0,...,51.5,52.0,51.0,53.0,58.0,51.0,57.0,49.0,52.0,54.0
2,2023-01-01,02:00:00,55.0,55.0,53.5,53.0,53.0,54.0,53.0,53.0,...,52.0,52.0,51.0,54.0,58.5,51.0,56.5,49.0,52.0,54.0
3,2023-01-01,03:00:00,54.5,54.0,53.0,53.0,53.0,54.0,53.0,53.0,...,52.0,53.0,51.5,54.0,59.0,51.0,56.0,49.0,52.0,54.0
4,2023-01-01,04:00:00,54.0,54.0,53.0,53.0,53.0,53.5,53.0,53.0,...,52.0,53.0,52.0,53.0,58.0,51.0,55.5,49.0,51.0,53.0

In [ ]:
def expand_rows(row):
    rows = []
    for i in columns:

In [ ]:
dades = dades.apply(lambda row: expand_rows(row), axis = 1)